<div class="my-5" style="{% if data.Pozadi %}background: url('{{ data.Pozadi.url }}') center center no-repeat;background-size: contain;{% endif %}{% if data.Pozadi_barva %}background-color: {{ data.Pozadi_barva }};{% endif %}">
    <div class="row gx-0">
        {% if data.Umisteni_fotky == 'vlevo' %}
            <div class="col-sm-8">
                <div class="pb-3 pe-3">
                    {% if data.Fotka %}
                        <img class="img-fluid" src="{{ data.Fotka.url }}" alt="">
                    {% endif %}
                </div>
            </div>
        {% endif %}

        <div class="col-sm-4">
            {% if data.Nadpis %}
                <h4 class="my-3">{{ data.Nadpis }}</h4>
            {% endif %}

            {% if data.Text %}
                <p class="my-3">
                    {{ data.Text|nl2br }}
                </p>
            {% endif %}

            {% for tlacitko in data.Tlacitka %}
                <span class="d-inline-block my-2 {{ tlacitko.Styl == 'Styl 1' ? 'button-style-1' : 'button-style-2' }} {{ loop.first != true ? 'ms-4' }}">
                    <twig:Odkaz data="{{ tlacitko.Odkaz }}">{{ tlacitko.Text }}{{ tlacitko.Styl == 'Styl 2' ? ' &raquo;' }}</twig:Odkaz>
                </span>
            {% endfor %}
        </div>

        {% if data.Umisteni_fotky == 'vpravo' %}
            <div class="col-sm-8">
                <div class="pb-3 ps-3">
                    {% if data.Fotka %}
                        <img class="img-fluid" src="{{ data.Fotka.url }}" alt="">
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
