<div class="margin-component table-component table-responsive">
    <table class="table table-borderless">
        <thead>
            <tr>
                {% if data.Nadpis1 %}
                    <th class="text-nowrap">{{ data.Nadpis1 }}</th>
                {% endif %}
                {% if data.Nadpis2 %}
                    <th class="text-nowrap">{{ data.Nadpis2 }}</th>
                {% endif %}
                {% if data.Nadpis3 %}
                    <th class="text-nowrap">{{ data.Nadpis3 }}</th>
                {% endif %}
                {% if data.Nadpis4 %}
                    <th class="text-nowrap">{{ data.Nadpis4 }}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for radek in data.Radky %}
                <tr>
                    {% if radek.Sloupec1 %}
                        <td class="text-nowrap {{ radek.Sloupec1.Styl == 'Zelené pozadí' ? 'green-cell' }}"><span>{{ radek.Sloupec1.Hodnota|newlines }}</span></td>
                    {% endif %}
                    {% if radek.Sloupec2 %}
                        <td class="text-nowrap {{ radek.Sloupec2.Styl == 'Zelené pozadí' ? 'green-cell' }}"><span>{{ radek.Sloupec2.Hodnota|newlines }}</span></td>
                    {% endif %}
                    {% if radek.Sloupec3 %}
                        <td class="text-nowrap {{ radek.Sloupec3.Styl == 'Zelené pozadí' ? 'green-cell' }}"><span>{{ radek.Sloupec3.Hodnota|newlines }}</span></td>
                    {% endif %}
                    {% if radek.Sloupec4 %}
                        <td class="text-nowrap {{ radek.Sloupec4.Styl == 'Zelené pozadí' ? 'green-cell' }}"><span>{{ radek.Sloupec4.Hodnota|newlines }}</span></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
