<div class="mt-2 mb-5">
    {% for tlacitko in data.Tlacitka %}
        <span class="d-inline-block my-2 {{ tlacitko.Styl == 'Styl 1' ? 'button-style-1' : 'button-style-2' }} {{ loop.first != true ? 'ms-4' }}">
            <twig:Odkaz data="{{ tlacitko.Odkaz }}">{{ tlacitko.Text }}{{ tlacitko.Styl == 'Styl 2' ? ' &raquo;' }}</twig:Odkaz>
        </span>
    {% endfor %}
</div>
