<div class="row gx-4 margin-component">
    {% for vizitka in data.Vizitky %}
        <div class="col-sm-6 col-lg-4">
            <div class="card-doctor p-4">

                <h4 class="mt-0">
                    {% for lekar in vizitka.Lekari %}
                        {% if not loop.first %}<br>{% endif %}{{ lekar.Jmeno }}
                    {% endfor %}
                </h4>

                {% if vizitka.Adresa %}
                    <p>
                        {% if vizitka.OdkazNaMapu %}
                            <a href="{{ vizitka.OdkazNaMapu }}">{{ vizitka.Adresa }}</a>
                        {% else %}
                            {{ vizitka.Adresa }}
                        {% endif %}
                    </p>
                {% endif %}

                {% if vizitka.Telefony|length > 0 %}
                    <p>
                        {% for telefon in vizitka.Telefony %}
                            {% if not loop.first %}<br>{% endif %}

                            {% if telefon.NazevTelefonu %}
                                <span class="card-phone-name">{{ telefon.NazevTelefonu }}:</span>
                            {% endif %}

                            {{ telefon.Telefon }}
                        {% endfor %}
                    </p>
                {% endif %}


                {% if vizitka.OteviraciDoba %}
                    <hr class="hr-dotted my-4">

                    {% set collapseId = 'oteviraciDoba-' ~ loop.index ~ '-' ~ random(1000000) %}
                    <div class="h6 fw-bold mb-0 collapse-toggle d-flex align-items-center justify-content-between collapsed w-100" data-bs-toggle="collapse" data-bs-target="#{{ collapseId }}" aria-expanded="false" aria-controls="{{ collapseId }}" style="cursor: pointer;">
                        <span>Ordinační hodiny</span>
                        <i class="bi bi-chevron-down"></i>
                    </div>
                    <div id="{{ collapseId }}" class="collapse">
                        <div class="pt-2">
                            {{ vizitka.OteviraciDoba|nl2br }}
                        </div>
                    </div>
                {% endif %}

                {% if vizitka.Odkaz %}
                    <p class="mb-0 mt-3">
                        <a class="text-center custom-badge custon-badge-btn-full" href="{{ vizitka.Odkaz }}">navštívit web</a>
                    </p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
