<!DOCTYPE html>
<html lang="{{ app.request.locale }}" data-turbo="false">
    <head>
        <meta charset="UTF-8">
        <title>{%- block title -%}{%- endblock %} | ZŠ Čeladná</title>

        {% block meta_viewport %}
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {% endblock %}

        <meta name="turbo-prefetch" content="false">
        <meta name="turbo-refresh-method" content="morph">

        <meta name="description" content="{%- block meta_description -%}{%- endblock -%}">
        <meta name="keywords" content="{%- block meta_keywords -%}{%- endblock -%}">

        <link type="text/plain" rel="author" href="{{ asset('humans.txt') }}">

        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('site.webmanifest') }}">
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ asset('android-chrome-192x192.png') }}">
        <meta name="theme-color" content="#ffffff">

        {% block importmap %}
            {{ importmap('app') }}
        {% endblock %}

        {% block custom_styles %}{% endblock %}

        {% if app.environment == 'prod' %}
            <!-- Google tag (gtag.js) -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=G-EY9S0CJG2M"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'G-EY9S0CJG2M');
            </script>
        {% endif %}
    </head>
    <body class="d-flex flex-column min-vh-100 {% block body_class %}{% endblock %}" data-controller="external-links">

    {% block full_content %}
        <header>
          <nav class="navbar navbar-light bg-light navbar-expand-md fixed-top py-3">
            <div class="container-fluid d-flex align-items-center">
              <!-- Hamburger menu trigger -->
              <button class="btn p-0 me-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>

              <!-- Menu links (tablet and up) -->
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-none d-md-flex flex-row">
                  <twig:Menu type="navbar" />
              </ul>

              <a class="nav-link ms-auto bakalari-header-link" href="https://zsceladna.bakalari.cz/bakaweb/login" target="_blank">
                  <span class="link">
                      <i class="bi-person-circle"></i>
                      Přihlášení
                  </span>
                  <span class="bakalari-img"></span>
              </a>
            </div>
          </nav>

          <!-- Offcanvas menu -->
          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav">
                  <twig:Menu type="sidebar" />
              </ul>
            </div>
          </div>
        </header>

        <div class="content-wrapper flex-fill py-3">
            {{ include('_flashes.html.twig') }}

            {% block content %}{% endblock %}
        </div>

        <footer class="pt-5 mt-auto">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h5 class="mb-3">Kontakty</h5>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <p>
                                    <strong>Ředitel</strong><br>
                                    Ing. Jiří Adámek<br>
                                    reditel@zsceladna.cz<br>
                                    +420 558 684 006<br>
                                    +420 774 300 514
                                </p>

                                <p>
                                    IČO: 75028948<br>
                                    číslo účtu: 181418130/0300<br>
                                    ID datové schránky: dfnmkh3
                                </p>
                            </div>
                            <div class="col-md-6 mb-3">
                                <p>
                                    <strong>Zástupce ředitele školy pro 1. stupeň</strong><br>
                                    Mgr. Lukáš Kovář<br>
                                    kovar@zsceladna.cz<br>
                                    +420 558 684 003<br>
                                    +420 778 088 894
                                </p>

                                <p>
                                    <strong>Zástupce ředitele školy pro 2. stupeň</strong><br>
                                    Mgr. Barbora Dudková<br>
                                    dudkova@zsceladna.cz<br>
                                    +420 558 684 003<br>
                                    +420 778 088 874
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-6">
                        <h5 class="mb-3">Kde nás najdete</h5>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <p>
                                    Základní škola Čeladná, p. o.<br>
                                    Čeladná 551, PSČ 739 12
                                </p>

                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2588.742411089569!2d18.33610951269441!3d49.546013571314525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47138a9685cfcd83%3A0x7b4b9999212484db!2zWsOha2xhZG7DrSDFoWtvbGEgxIxlbGFkbsOh!5e0!3m2!1scs!2scz!4v1750701981448!5m2!1scs!2scz" width="300" height="200" style="border:0;max-width: 100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>

                            <div class="col-md-6 mb-3">
                                <ul class="list-unstyled text-end">
                                    <twig:Menu type="footer" />
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}

    </body>
</html>
