{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <div class="container">
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-6">
                            <p class="slide-title">Title</p>

                            <p class="slide-heading">Nadpis</p>

                            <p class="slide-text">Text</p>

                            <span class="d-inline-block my-2 button-style-1">
                                <a href="#">Tlačítko</a>
                                {# <twig:Odkaz data="{{ tlacitko.Odkaz }}">{{ tlacitko.Text }}</twig:Odkaz> #}
                            </span>
                        </div>
                        <div class="col-6">
                            Obrázek
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="..." style="background: green;">
                </div>
                <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="..." style="background: blue;">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    {% if section %}
        <div class="container pt-3 pb-5 section-content">
            <div class="row">
                <div class="{{ section.Komponenty_panel ? 'col-md-8' : 'col-md-12' }}">
                    <div class="section-content-wrapper">
                        {% for komponenta in section.Komponenty %}
                            {{ component(komponenta.type, {
                                hasPanel: section.Komponenty_panel|length > 0,
                                isPanel: false,
                                data: komponenta.data,
                            }) }}
                        {% endfor %}
                    </div>
                </div>

                {% if section.Komponenty_panel %}
                    <div class="col-md-4 side-panel">
                        {% for komponenta in section.Komponenty_panel %}
                            {{ component(komponenta.type, {
                                hasPanel: section.Komponenty_panel|length > 0,
                                isPanel: true,
                                data: komponenta.data,
                            }) }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
