{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block content %}
    {% if homepage and homepage.Slider %}
        <div class="carousel-wrapper position-relative">

            <div id="home-carousel" class="carousel slide carousel-fade">
                <div class="carousel-inner">
                    {% for slide in homepage.Slider %}
                        <div class="carousel-item position-relative {% if loop.first %}active{% endif %}">
                            {% if slide.Obrazek %}
                                <div class="carousel-image" style="background-image: url('{{ slide.Obrazek.url }}');"></div>
                            {% endif %}

                            <div class="container md-h-100">
                                <div class="row md-h-100">
                                    <div class="col-12 col-md-6 d-flex flex-column justify-content-center pt-4 pt-md-0 pe-md-5">
                                        {% if slide.Titulek %}
                                            <p class="slide-title mb-3 mb-md-4">{{ slide.Titulek }}</p>
                                        {% endif %}

                                        {% if slide.Nadpis %}
                                            <p class="slide-heading mb-3 mb-md-4">{{ slide.Nadpis }}</p>
                                        {% endif %}

                                        {% if slide.Text %}
                                            <div class="slide-text">{{ slide.Text|markdown_to_html|newlines }}</div>
                                        {% endif %}

                                        {% if slide.Tlacitko %}
                                            <p class="mb-0 mt-3 md-md-4">
                                                <span class="d-inline-block my-2 button-style-1">
                                                    <twig:Odkaz data="{{ slide.Tlacitko.Odkaz }}">{{ slide.Tlacitko.Text }}</twig:Odkaz>
                                                </span>
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#home-carousel" data-bs-slide="prev">
                <i class="bi-chevron-left bi-large" aria-hidden="true"></i>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#home-carousel" data-bs-slide="next">
                <i class="bi-chevron-right bi-large" aria-hidden="true"></i>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    {% endif %}

    {% if homepage.Karty %}
        <div class="container">
            <div class="row gx-0 homepage-karty mb-4 align-items-stretch">
                {% for karta in homepage.Karty %}
                    <div class="col-12 col-md-4 d-flex">
                        {% if karta.Tlacitko %}
                            <twig:Odkaz data="{{ karta.Tlacitko.Odkaz }}" class="d-flex flex-row h-100 w-100">
                                <div class="column-homepage-karta w-100 h-100">
                                    <div class="column-homepage-karta-inner d-flex align-items-start text-start p-4 h-100 w-100">
                                        {% if karta.Obrazek %}
                                            <span class="karta-img-wrapper me-3">
                                                <img class="img-fluid karta-img-default" src="{{ karta.Obrazek.url }}" alt="">
                                                {% if karta.ObrazekHover %}
                                                    <img class="img-fluid karta-img-hover" src="{{ karta.ObrazekHover.url }}" alt="">
                                                {% else %}
                                                    <img class="img-fluid karta-img-hover" src="{{ karta.Obrazek.url }}" alt="">
                                                {% endif %}
                                            </span>
                                        {% endif %}

                                        <div class="card-content flex-fill d-flex flex-column justify-content-center">
                                            {% if karta.Nadpis %}
                                                <h4 class="h5 mt-0 mb-2 fw-bold">{{ karta.Nadpis }}</h4>
                                            {% endif %}

                                            {% if karta.Text %}
                                                <p class="small mb-0">
                                                    {{ karta.Text|nl2br }}
                                                </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                            </twig:Odkaz>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if kalendar_akci %}
        <div class="container my-5">
            <h2 class="with-border mb-4 fw-heading">Akce</h2>

            <div class="row">
                {% for akce in kalendar_akci %}
                    {% if loop.index <= 3 %}
                        <div class="col-sm-6 col-md-4 mb-3">

                            {% if akce.slug and ((akce.Dokumenty ?? []) or (akce.Galerie ?? []) or akce.Popis or akce.FotkaDetail) %}
                                <a href="{{ path('detail_akce', {'slug': akce.slug}) }}" class="text-decoration-none h-100">
                            {% endif %}

                            <div class="homepage-akce">
                                {% if akce.Top %}
                                    <span class="kalendar-akci-top-badge">TOP</span>
                                {% endif %}

                                {% if akce.Fotka %}
                                    <div class="homepage-akce-image">
                                        <img class="img-fluid me-3" src="{{ akce.Fotka.url }}" alt="">
                                    </div>
                                {% endif %}

                                <div class="homepage-akce-content p-4">
                                    {% if akce.Nazev %}
                                        <h4 class="fw-bold h5">{{ akce.Nazev }}</h4>
                                    {% endif %}

                                    {% if akce.Datum %}
                                        <p class="mb-0 small">{{ akce.Datum|date('d.m.Y') }}</p>
                                    {% endif %}
                                </div>
                            </div>

                            {% if akce.slug and (akce.Dokumenty ?? []) or (akce.Galerie ?? []) or akce.Popis or akce.FotkaDetail %}
                                </a>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            {% if kalendar_akci|length > 3 %}
                <p class="text-end mt-3">
                    <a class="button-style-2" href="{{ path('kalendar_akci') }}">Všechny akce</a>
                </p>
            {% endif %}
        </div>
    {% endif %}

    {% if section %}
        <div class="container pt-3 pb-5 section-content">
            <div class="row">
                <div class="{{ section.Komponenty_panel ? 'col-md-8' : 'col-md-12' }}">
                    <div class="section-content-wrapper">
                        {% for komponenta in section.Komponenty %}
                            {{ component(komponenta.type, {
                                hasPanel: section.Komponenty_panel|length > 0,
                                isPanel: false,
                                data: komponenta.data,
                            }) }}
                        {% endfor %}
                    </div>
                </div>

                {% if section.Komponenty_panel %}
                    <div class="col-md-4 side-panel">
                        {% for komponenta in section.Komponenty_panel %}
                            {{ component(komponenta.type, {
                                hasPanel: section.Komponenty_panel|length > 0,
                                isPanel: true,
                                data: komponenta.data,
                            }) }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
