{% extends 'base.html.twig' %}

{% block title %}{{ sekce.Nazev }}{% endblock %}
{% block meta_description %}{{ sekce.Meta_description }}{% endblock %}

{% block content %}
    <div class="container py-4 section-content">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Hlavní stránka</a></li>
                {% for breadcrumbLink, breadcrumbTitle in breadcrumbs %}
                    <li class="breadcrumb-item"><a href="{{ breadcrumbLink }}">{{ breadcrumbTitle }}</a></li>
                {% endfor %}
                <li class="breadcrumb-item active" aria-current="page">{{ sekce.Nazev }}</li>
            </ol>
        </nav>

        <h1 class="fw-bolder mb-5">{{ sekce.Nazev }}</h1>

        <div class="row">
            <div class="{{ sekce.Komponenty_panel ? 'col-7' : 'col-12' }}">
                <div class="section-content-wrapper">
                    {% for komponenta in sekce.Komponenty %}
                        {{ component(komponenta.type, { data: komponenta.data }) }}
                    {% endfor %}
                </div>
            </div>

            {% if sekce.Komponenty_panel %}
                <div class="col-5 side-panel">
                    {% for komponenta in sekce.Komponenty_panel %}
                        {{ component(komponenta.type, { data: komponenta.data }) }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
